:root {
  --foxtrot-50: #fff7ed;
  --foxtrot-100: #ffedd5;
  --foxtrot-200: #fed7aa;
  --foxtrot-300: #fdba74;
  --foxtrot-400: #fb923c;
  --foxtrot-500: #f97316;
  --foxtrot-600: #ea580c;
  --foxtrot-700: #c2410c;
  --foxtrot-800: #9a3412;
  --foxtrot-900: #7c2d12;
}
